Jakub Narębski <jnareb@mat.umk.pl> <jnareb@gmail.com>
Mikołaj Fejzer <mfejzer@mat.umk.pl> <mfejzer@gmail.com>
Mikołaj Fejzer <mfejzer@mat.umk.pl> <mfejzer@users.noreply.github.com>
Piotr Przymus <piotr.przymus@mat.umk.pl> <piotr.przymus@gmail.com>
