site_name: PatchScope Documentation
site_url: https://ncusi.github.io/PatchScope
repo_url: https://github.com/ncusi/PatchScope
repo_name: PatchScope
edit_uri: ""  # turn off the feature
#strict: true
nav:
  - home: index.md
  #- installation: installation.md
  - usage:
     - annotation_process.md
     - contributors_graph.md
     - author_statistics.md
  #- modules: api.md
  #- contributing: contributing.md
  #- authors: authors.md
  #- history: history.md
  - CLI: cli.md
  - API: reference/
  - schema: schema.md
  - examples: examples.md
  - experiments: experiments.md
  - notebooks:
      - notebooks.md
      - HaPy-Bug dataset: notebooks/01-compare_annotations_HaPy-Bug.ipynb
      - Herbold et al. dataset: notebooks/02-compare_annotations_Herbold.ipynb
  - web: diffinsights_web.md
theme:
  name: material
  language: en
  logo: favicon.svg
  #favicon: favicon.png
  icon:
    #repo: fontawesome/brands/git-alt  # the default
    repo: fontawesome/brands/github
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  features:
    - navigation.indexes  # documents can be directly attached to sections (for overview pages)
    - navigation.instant  # clicks on all internal links will be dispatched via XHR
    - navigation.instant.progress  # progress indicator on slow connections when using instant navigation
    - navigation.tabs  # top-level sections are rendered in a menu layer below the header
    - navigation.tabs.sticky  # navigation tabs will lock below the header and always remain visible
    - navigation.top  # add floating backt-to-top button
    - navigation.tracking  # automatically update URL with the active anchor
    #- toc.follow  # scroll sidebar so that the active anchor is always visible
    #- search.suggest  # enable search suggestions, can be accepted with 'Right' key
    - header.autohide  # hide header when the user scrolls past a certain threshold
    - navigation.footer  # links to the previous and next page of the current page
markdown_extensions:
  #- pymdownx.emoji:  # inserting emoji via simple short names, e.g. :thumbsup:
  #    emoji_index: !!python/name:materialx.emoji.twemoji  # problems with materialx, ...
  ## ERROR: Could not find a version that satisfies the requirement mkdocs-material-extension~=1.0.3;
  ##        extra == "doc" (from patchscope[dev,doc]) (from versions: none)
  ## ERROR: No matching distribution found for mkdocs-material-extension~=1.0.3; extra == "doc"
  #    emoji_generator: !!python/name:material.extensions.emoji.to_svg  # problems with material.extensions
  ## Error: MkDocs encountered an error parsing the configuration file: while constructing a Python object
  ## cannot find module 'material.extensions.emoji' (No module named 'material.extensions')
  ##   in "/home/runner/work/PatchScope/PatchScope/mkdocs.yml", line 36, column 20
  #- pymdownx.critic  # editorial change tracking in plain text files
  - pymdownx.caret  # ^^insert^^, text^superscript
  #- pymdownx.mark  # ==mark me==
  - pymdownx.tilde  # ~~delete~~, text~subscript
  - pymdownx.tabbed  # tabbed contents
  - pymdownx.arithmatex:  # block and inline block equations: $...$, $$...$$
      generic: true
  - pymdownx.highlight:  # syntax highlighting of code blocks (with superfences)
      linenums: false
  - pymdownx.superfences:  #  arbitrary nesting of code and content blocks
      preserve_tabs: true
      custom_fences:
        # Mermaid diagrams
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.details  # make admonition call-outs collapsible
  - pymdownx.tasklist:  #  GitHub Flavored Markdown inspired task lists
      custom_checkbox: true  # replace native checkbox styles with icons
  - admonition  # admonitions (or call-outs), !!! note "optional title"...
  - attr_list  # add HTML attributes and CSS classes to almost every element
  - footnotes  # footnoted[^1] ... [^1]: footnote text
  - toc:  # automatically generate a table of contents
      baselevel: 2
      permalink: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify { kwds: { case: lower } }
  - meta
plugins:
  - include-markdown  # including (embedding) Markdown files, by default within {% and %}
  - search:  # adds a search bar to the header; powered by lunr.js
      lang: en
  - mkdocs-jupyter  # use Jupyter Notebooks in mkdocs
  - mkdocs-typer2  # generate documentation for Typer command line applications
  # automatic generation of files for mkdocstrings
  # see https://mkdocstrings.github.io/recipes/#automatic-code-reference-pages
  - gen-files:  # generate mkdocstrings pages on-the-fly
      scripts:
        - scripts/gen_ref_pages.py
  - literate-nav:  # generate a literate navigation file for mkdocstrings pages
      nav_file: SUMMARY.md
  # NOTE: section-index is turned off, because it interfered with adding API docs for diffannotator
  #- section-index  # bind pages to sections themselves in mkdocstrings pages
  # generating documentation from docstrings, now automatically
  - mkdocstrings:  # automatic documentation from sources for MkDocs
      default_handler: python
      handlers:
        python:
          paths: [ "src" ]
          options:
            show_bases: true
            docstring_style: numpy
            docstring_section_style: spacy
            show_signature: true
            separate_signature: true
            show_signature_annotations: true
      watch:  # for `mkdocs serve`, to trigger rebuild
        - src
#extra:
#  version:
#    provider: mike
#  social:
#    - icon: fontawesome/brands/twitter
#      # replace with your own tweet link below
#      link: http://www.jieyu.ai
#      name: Tweet
#    - icon: fontawesome/brands/facebook
#      # replace with your own facebook link below
#      link: http://www.jieyu.ai
#      name: Facebook
#    - icon: fontawesome/brands/github
#      link: https://github.com/jnareb/python_project_wizard_demo
#      name: Github
#    - icon: material/email
#      link: "mailto:jnareb@gmail.com"
#  # to enable disqus, uncomment the following and put your disqus id below
#  # disqus: disqus_id
# uncomment the following and put your google tracking id below to enable GA
#google_analytics:
  #- UA-xxx
  #- auto

extra_javascript:
  - assets/optionalConfig.js
  - https://unpkg.com/mermaid@11.4.1/dist/mermaid.min.js
  # or https://cdn.jsdelivr.net/npm/mermaid@11.4.1/dist/mermaid.min.js
  - assets/extra-loader.js
